.cities__inner {
    width: 80%;
    border: 1px solid grey;
    margin: 0 auto;
}

.cities__inner_center {
    margin-top: 20px;
}

.cities__list {
    display: flex;
    flex-direction: row-reverse;
    background-color: lightgray;
}

.cities__item {
    padding: 10px 8px;
    cursor: pointer;
}

.cities__item.active {
    background-color: grey;
}

.cities__item:hover {
    background-color: rgb(138, 138, 138);
}

/* Cities content */

.tap-content h3 {
    margin-top: 15px;
}