.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content__inner {
    margin-top: 100px;
}

.color-changer {
    width: 50%;
    background-color: antiquewhite;
    margin: 0 auto;

    border-radius: 10px;
}

.color-changer input {
    width: 80%;
}

.input {
    text-align: center;
}

.box__inner_center {
    margin: 0 auto;
}

.box__inner {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);

    margin-top: 50px;
}

.color-changer__measure {
    text-align: center;
}